github "Thomvis/BrightFutures" "1.0.0-beta.2"
github "Alamofire/Alamofire" "50c3e3cd6b385f4760968a56dcbeddb0c923adf9"

#test
github "Quick/Quick"
github "Quick/Nimble"
github "DiUS/pact-consumer-swift"