github "Thomvis/BrightFutures" "1.0.0-beta.2"
github "Alamofire/Alamofire"
github "Masonry/Snap"

#test
github "Quick/Quick" "swift-1.1"
github "Quick/Nimble" "swift-1.1"
github "DiUS/pact-consumer-swift" "master"



